@charset "utf-8";
/* CSS Document */

.headsearch { width:auto; height:auto;  margin-bottom:2px; font-size:20px; border:solid 1px #06F; border-radius:5px 5px 0px 0px }
.boxsearch  { border:solid 1px #06F; width:auto; height:auto; border-radius:0px 0px 5px 5px }

